/* src/components/NotFound.css */

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
    background: url(../assets/notfound.gif) center;
  }
  
  .not-found h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
  }
  
  .not-found p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .not-found a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .not-found a:hover {
    text-decoration: underline;
  }
  